@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */
.layout-bg::before {
	background: rgb(255, 127, 14);
	background: linear-gradient(
		356deg,
		rgba(255, 127, 14, 1) 0%,
		rgba(0, 120, 215, 1) 0%,
		rgba(105, 175, 231, 1) 20%,
		rgba(255, 255, 255, 1) 71%
	);
	opacity: 0.8;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}
body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
